.centera{
  width:100%;
  padding:.2rem;
  height: auto;
}
.close{
  width:100%;
  text-align:right;
  margin-bottom: .25rem;
}
.close>i.icon{
  font-size: .18rem;
}
.sea-inp{
  width:100%;
  position: relative;
}
.sea-inp>input{
  width: 84%;
  height:.36rem;
  background: #F7F6F6;
  border-radius:.2rem;
  border: #F7F6F6;
  padding-left:.12rem;
  color: #333333;
}
.sea-inp>i.icon{
  font-size:.24rem;
  position: absolute;
  left:92.8%;
  margin-left:-.09rem;
  top:.02rem;
}
.search-con{
  width:100%;
  height:auto;
  clear: both;
}
.sea-tit{
  width:100%;
  font-size: .14rem;
  margin-top:.21rem;
  color:#666666;
}
.sea-ull{
  width:100%;
  margin-top:.11rem;
}
.sea-ull>li{
  font-size:.13rem;
  color:#4D63A7;
  float: left;
  padding:.07rem .14rem;
  border:1px solid #F2F2F2;
  margin-right:.13rem;
  margin-bottom:.12rem;
}
.con{

  display:none;
}
.cen{
  width:100%;
  height:auto;
  padding:.1rem .12rem;
}
.load{
  width: 30%;
  background:#fff;
  margin: .1rem auto;
  text-align: center;
  height: .36rem;
  border: 1px solid #4C5D99;
  line-height: .36rem;
  color: #4D63A7;
  font-size:.13rem;
  border-radius: .04rem;
}
.con-none{
  width:100%;
  text-align:center;
  margin-top: 1.32rem;
}
.con-none>i.icon{
  font-size:.38rem;
  color: #C0BEBE;
}
.con-none>p{
  color:#888889;
  margin-top:.23rem;
}