body{

  background:rgba(245,245,245,1);
}
.detailsTop{
  width:100%;
  padding:.15rem;
  background: #fff;
}
.detaileName{
  position: relative;
}
.detaileName>dl{
  width:100%;
  position: relative;
}
.detaileName>dl>dd{
  position: absolute;
  left:0;
  top:0;
  width:.31rem;
  height:.31rem;
  border-radius:50%;
}
.detaileName>dl>dd>img{
  width:.31rem;
  height:.31rem;
  border-radius:50%;
}
.detaileName>dl>dt{
  padding-left: .4rem;
}
.dt_name{
  font-size:.14rem;
  font-family:PingFang-SC-Medium;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:22px;
}
.dt_time{
  font-size:.12rem;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:22px;
}
.collect{
  position: absolute;
  right:0;
  top:.12rem;
  font-size:.1rem;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(102,102,102,1);
  padding-left:.18rem;

}
.collect>img{
  position: absolute;
  top: -.02rem;
  left:0;
  width:.15rem;
  height:.14rem;
  opacity:0.86;
}
.detailCon{
  width:100%;
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
  color:rgba(51,51,51,1);
  line-height:.18rem;
  margin-top:.06rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.detailTit{
  width:100%;
  background:rgba(245,245,245,1);
  border-radius:8px;
  margin-top:.08rem;
  padding:.1rem .12rem;
}
.tit{
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
  color:rgba(48,92,186,1);
}
.t_con{
  display: flex;
  justify-content:space-between;
  margin-top:.13rem;
}
.time,.con{
  font-size:.12rem;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
}
.detailsBot{
  width:100%;
}
.detailsBot{
  width:100%;
  padding:.15rem;
}
.detailsBot>dl{
  width:100%;
  height:auto;
  display:flex;
  justify-content:space-between;
  margin-bottom:.1rem;
}
.detailsBot>dl>dd{
  width:10%;
  height:.28rem;
  border-radius:50%;
}
.detailsBot>dl>dd>img{
  width:.28rem;
  height:.28rem;
  border-radius:50%;
}
.detailsBot>dl>dt{
  padding-bottom:.06rem;
  padding-top:.08rem;
  width:88%;
  border-bottom:1px solid #D8D7D7;
}
.dt_namet{
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
  color:rgba(51,51,51,1);
}
.dt_namet>em{
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
  color:rgba(102,102,102,1);
  margin: 0 .06rem;
}
.dt_namet>span{
  color: #305CBA;
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
}
.dt_con{
  font-size:.11rem;
  font-family:PingFang-SC-Medium;
  color:rgba(51,51,51,1);
  line-height:.18rem;
  margin-top:.06rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

footer{
  width:100%;
  height:.5rem;
  background:rgba(255,255,255,1);
  border-top: 1px solid #DEDEDE;
  position:fixed;
  bottom:0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .15rem;
}
.input{
  width: 60%;
  padding-right:.13rem;
}
.input>input{
  width:100%;
  height:.34rem;
  background:rgba(255,255,255,1);
  border:1px solid rgba(222,222,222,1);
  border-radius:5px;
  padding-left:.06rem;
}
input::-webkit-input-placeholder {
  font-size:.12rem;
  font-family:PingFang-SC-Regular;
  color:rgba(153,153,153,1);
  opacity:0.6;
}
.fun{
  width:40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fun .Imgbox {
  text-align:center;
  height: 100%;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:.11rem;
  font-family:PingFang-SC-Medium;
  color:rgba(102,102,102,1);
  line-height:22px;
}
.Imgbox>img{
  width:.15rem;
  height:.15rem;
}

.cover{
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
}
.box1{
  padding:.15rem;
  position: absolute;
  width:100%;
  bottom:0;
  left:0;;
  height:1.2rem;;
}
.yes,.no{
  height:.43rem;
  line-height:.43rem;
  background:rgba(245,245,245,1);
  border-radius:.05rem;
  font-size:.13rem;
  text-align: center;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(48,92,186,1);
}
.no{
  margin-top:.1rem;
  color:rgba(102,102,102,1);
}
.box2{
  display:none;
  width:70%;
  margin:58% 15%;
  height:1.18rem;
  background:rgba(255,255,255,1);
  border-radius:.05rem;
}
.boxtit{
  width:1005;
  text-align: center;
  line-height:.22rem;
  font-size:.14rem;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  padding-top:.25rem;
  color:rgba(51,51,51,1);
}
.btns{
  width:100%;
  padding:0 .13rem;
  display: flex;
  margin-top:.15rem;
  justify-content:space-between;
}
.yesl,.nor{
  width:46%;
  height:.34rem;
  background:rgba(255,255,255,1);
  border:1px solid rgba(220,220,220,1);
  border-radius:.04rem;
  text-align: center;
  line-height:.34rem;
  font-size:.12rem;
  font-family:PingFang-SC-Medium;
  color:rgba(0,0,0,1);
}