.centera {
  width:100%;
  height:auto;
  overflow:hidden;
  margin: 0;
  padding: 0;
}
#oranger{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 .12rem;
  height:.4rem;
  background: #F6F6F6;
}
#oranger>a{
  display: inline-block;
  flex:1;
  text-align:center;
  height:.4rem;
  line-height: .4rem;
}
.hover {
  color:#4D63A7;
  border-bottom:2px solid #4D63A7;
}
#tablea {
  padding:.12rem;
}
.box {
	display:none
}
.banner{
  width:100%;
  height: auto;
}
.banner>img{
  display: block;
  width:100%;
  height: auto;
}
.con{
  width:100%;
}